
@mixin flex($a: space-around, $b: center) {
    display: flex;
    justify-content: $a;
    align-items: $b;
    @content;
}

@keyframes fade-in-bottom {
    0% {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    opacity: 0;
    }
    100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
    }
}

$mC : #53A069;
$sC : #2E483E;

@keyframes upDown {
    0% {
        transform: translateY(5px);
    }
    50%{
        transform: translateY(-5px);
    }
    100%{
        transform: translateY(5px);
    }
}


.scrolls{
    opacity: 0;
    transition: opacity 500ms;
}
.scrolls.scrolled{
    opacity: 1;
    animation: fade-in-bottom .7s ease-in-out both;
}


.m-wrap{
    box-shadow: 0 0 60px rgba(0,0,0,.4);
    @include flex(){
        flex-direction: column;
    }
    .main-title{
        width: 100%;
        height: 100vh;
        @include flex(center, center){}
        background-size: cover;
        background-position: 50% 50%;
        img{
            height: 170px;
            width: 500px;
        }
    }
    .main-app{
        width: 100%;
        height: 100vh;
        overflow: hidden;
        // background-color: #fff;
        background-color: rgba(255,255,255,.5);
        backdrop-filter: blur(5px);
        .a-wrap{
            width: 100%;
            height: 100%;
            padding: 0 70px 0 40px;
            @include flex(space-between, center){}
            .a-img-wrap{
                width: 50%;
                height: 100%;
                position: relative;
                .app-box{
                    position: absolute;
                    width: 200px;
                    height: 450px;
                    border-radius: 16px;
                    box-shadow: 0 0 56px rgba(0,0,0,.3);
                    background: #fff;
                    img{
                        width: 100%;
                        height: 100%;
                        padding: 20px 0;
                    }
                    &:nth-child(1){
                        bottom: 50px;
                        left: 55%;
                    }
                    &:nth-child(2){
                        bottom: -100px;
                        left: 5%;
                    }
                    &:nth-child(3){
                        bottom: 150px;
                        left: 30%;
                    }
                }
            }
            .a-text-box{
                width: 50%;
                height: 100%;
                @include flex(space-around,flex-end){
                    flex-direction: column;
                }
                h2{
                    padding-top: 400px;
                    font-size: 32px;
                    span{
                        font-size: 32px;
                        color: $mC;
                    }
                }
                .end-hight{
                    margin-top: 80px;
                    cursor: pointer;
                    animation: upDown 2s infinite running;
                    img{
                        width: 90px;
                        height: 100px;
                    }
                    &:hover{
                        animation-play-state: paused;
                    }
                }
            }
        }
    }
    .scroll-chat{
        width: 100%;
        height: 600vh;
        position: relative;
        // background-color: #e5eaee;
        background-color: rgba(174, 177, 180, 0.7);
        backdrop-filter: blur(5px);
        .s-wrap{
            width: calc(100% - 300px);
            height: 100vh;
            top: 100px;
            left: 0px;
            margin-left: 400px;
            position: sticky;
            padding: 0 20px 0 50px;
            @include flex(flex-end,center){}
            &:first-child{
                left: 0;
                width: 100%;
                margin-left: 0;
                .s-text-box{
                    width: 50%;
                }
                .chat-box{
                    width: 50%;
                }
            }
            .s-text-box{
                width: calc(50% - 150px);
                height: 40%;
                @include flex(space-around,flex-start){
                    flex-direction: column;
                }
                h2{
                    font-size: 32px;
                    span{
                        font-size: 32px;
                        color: $mC;
                    }
                }
                .end-hight{
                    cursor: pointer;
                    margin-top: 80px;
                    animation: upDown 2s infinite running;
                    img{
                        width: 90px;
                        height: 100px;
                    }
                    &:hover{
                        animation-play-state: paused;
                    }
                }
            }
            .chat-box{
                width: calc(50% + 150px);
                height: 100%;
                @include flex(center, center){}
                .phone{
                    width: 350px;
                    height: 600px;
                    background-size: cover;
                    position: relative;
                    img{
                        position: absolute;
                        width: 190px;
                        left: -27px;
                    }
                    .imo{
                        height: 120px;
                        left: -28px;
                        width: 135px;
                        bottom: 260px
                    }
                    .chat1{
                        bottom: 470px;
                        height: 64px;
                    }
                    .chat2{
                        bottom: 390px;
                        height: 70px;
                    }
                    .chat3{
                        left: -17px;
                        bottom: 170px;
                        height: 75px;
                    }
                }
            }
        }
    }
    .list-link{
        width: 100%;
        height: 100vh;
        background-size: cover;
        background-position: 50% 50%;
        @include flex(center, flex-start){}
        .link-wrap{
            margin-top: 250px;
            @include flex(space-between, center){
                flex-direction: column;
            }
            h2{
                margin-bottom: 50px;
                font-size: 48px;
            }
            .list-btn{
                img{
                    width: 250px;
                    height: 70px;
                }
            }
        }
    }
}